version: '3.8'
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: wikipedia-reader-nginx
    ports:
      - '80:80'
    volumes:
      - wiki-data:/data/www
    networks:
      - wiki-network
    depends_on:
      - init-container
  init-container:
    build:
      context: .
      dockerfile: Dockerfile.init
    container_name: wikipedia-reader-init
    environment:
      - SHARED_VOLUME=${SHARED_VOLUME}
      - RANDOM_MIN_SECONDS=${RANDOM_MIN_SECONDS_PROD}
      - RANDOM_MAX_SECONDS=${RANDOM_MAX_SECONDS_PROD}
    volumes:
      - wiki-data:/data/www
    networks:
      - wiki-network
  sidecar:
    build:
      context: .
      dockerfile: Dockerfile.sidecar
    container_name: wikipedia-reader-sidecar
    environment:
      - SHARED_VOLUME=${SHARED_VOLUME}
      - RANDOM_MIN_SECONDS=${RANDOM_MIN_SECONDS_PROD}
      - RANDOM_MAX_SECONDS=${RANDOM_MAX_SECONDS_PROD}
    volumes:
      - wiki-data:/data/www
    networks:
      - wiki-network
    depends_on:
      - nginx
volumes:
  wiki-data:
networks:
  wiki-network:
    driver: bridge
