footer {
  margin: 2rem 0 0;
}

.wrapper__form {

  .form__input--done {
    display: inline-block;
  }

  .form__label {
    display: none;
  }
}

.wrapper__image {
  height: auto;
  max-width: 38%;
  width: 100%;
}
