apiVersion: batch/v1
kind: CronJob
metadata:
  name: todo-app-cronjob
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: curl
            image: curlimages/curl:latest
            imagePullPolicy: IfNotPresent
            command:
            - /bin/sh
            - -c
            - >-
              curl -f -X POST "${BASE_URL}:4000${API_TODO}"
              -H "Content-Type: application/json"
              -d "{\"todo\": \"${WIKI_RANDOM}\"}"
            envFrom:
            - configMapRef:
                name: todo-app-configmap
          restartPolicy: OnFailure
