<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO App</title>
    <link rel="preload" href="/css/index.css" as="style" />
    <link rel="preload" href="/js/picture.js" as="script" />
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <main class="wrapper">
      <h1 class="wrapper__title">The project App</h1>
      <img class="wrapper__image" src="" alt="Last picture" />
      <form action="/todos" class="wrapper__form" method="post">
        <label aria-label="TODO" class="form__label" for="todo">TODO</label>
        <input aria-required="true" class="form__input" id="todo" name="todo" type="text" maxlength="140" required />
        <input class="form__input" type="submit" value="Create todo" />
      </form>
      <ul class="wrapper__list">
        {{#each todos}}
          <li class="list__item">{{this}}</li>
        {{/each}}
      </ul>
    </main>
    <footer class="footer">
      DevOps with Kubernetes 2025
    </footer>
    <script src="/js/picture.js" defer></script>
    <script src="/js/form.js" defer></script>
  </body>
</html>
