name: Delete TODO environment
on:
  delete:
env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  BRANCH: ${{ github.ref_name }}
jobs:
  delete:
    if: github.event.ref_type == 'branch' && env.BRANCH != 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'
      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2
      - name: 'Use gcloud CLI'
        run: gcloud info && gcloud auth configure-docker europe-north1-docker.pkg.dev --quiet
      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'
      - name: Delete environment
        run: |-
          # Updates from main branch must be set as 'project'
          NAMESPACE=$([ "$GITHUB_REF" == "refs/heads/main" ] && echo "project" || echo "${GITHUB_REF#refs/heads/}")

          # Delete namespace by branchname
          kubectl delete namespace $NAMESPACE --all
